#### Ajay Choudhury (18018) - DBMS (DSE 310) - Assignment 2

In [1]:
# importing required libraries
from getpass import getpass
import mysql.connector
from mysql.connector import connect, Error

In [2]:
# take credentials
user = input("Enter username: ")
passwd = getpass("Enter password: ")

In [3]:
# create database
try:
    with connect(
        host="localhost",
        user=user,
        password=passwd,
    ) as connection:
        create_db = "CREATE DATABASE assign2_18018"
        with connection.cursor() as cursor:
            cursor.execute(create_db)
except Error as e:
    print(e)

In [4]:
# show all databases
try:
    with connect(
        host="localhost",
        user=user,
        password=passwd,
    ) as connection:
        list_all_db = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(list_all_db)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

('assign2_18018',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [23]:
# connect to the database 'assign2_18018'
connection = mysql.connector.connect(
    host="localhost",
    user=user,
    passwd=passwd,
    database="assign2_18018"
)

# create a cursor
cursor = connection.cursor()

In [24]:
# create tables - first is of songs
song_table = """
CREATE TABLE songs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(50) NOT NULL,
    release_year YEAR(4),
    genre VARCHAR(100),
    revenue INT
    )
"""
# ratings table
ratings_table = """
CREATE TABLE ratings (
    song_id INT,
    rating DECIMAL(2,1),
    FOREIGN KEY(song_id) REFERENCES songs(id),
    PRIMARY KEY(song_id) 
    )
"""
# execute the commands
cursor.execute(song_table)
connection.commit()
cursor.execute(ratings_table)
connection.commit()

In [25]:
# describe songs table
show_songs = "DESCRIBE songs"
cursor.execute(show_songs)

# Fetch rows from last executed query
result = cursor.fetchall()
for row in result:
    print(row)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(50)', 'NO', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('revenue', b'int', 'YES', '', None, '')

In [26]:
# alter songs table schema
alter_songs = """
ALTER TABLE songs
MODIFY COLUMN revenue DECIMAL(4,1)
"""
# describe songs table
desc_songs = "DESCRIBE songs"
cursor.execute(alter_songs)
cursor.execute(desc_songs)

# Fetch rows from last executed query
result = cursor.fetchall()
print("Songs Table Schema after alter command:")
for row in result:
    print(row)

Songs Table Schema after alter command:
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(50)', 'NO', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('revenue', b'decimal(4,1)', 'YES', '', None, '')

In [27]:
# create a temporary table for dropping
temporary_table = """
CREATE TABLE temporary(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100)
)
"""
# execute the create table command
cursor.execute(temporary_table)
connection.commit()
print("Temporary table created.")

# show all tables
print("All tables in the database are: ")
show_all_tables = "SHOW TABLES"
cursor.execute(show_all_tables)
for table in cursor:
    print(table)

Temporary table created.
All tables in the database are:
('ratings',)
('songs',)
('temporary',)

In [28]:
# drop the temporary table
drop_table = "DROP TABLE temporary"
cursor.execute(drop_table)
print("Temporary table dropped.")

# show all tables
print("All tables in the database after drop command are: ")
show_all_tables = "SHOW TABLES"
cursor.execute(show_all_tables)
for table in cursor:
    print(table)

Temporary table dropped.
All tables in the database after drop command are:
('ratings',)
('songs',)

In [29]:
# insert instances in the songs table
insert_songs = """
INSERT INTO songs (title, release_year, genre, revenue)
VALUES
    ("Kyun Dil Mera", 2015, "Romance", 150.2),
    ("Sun zara", 2009, "Feel Good", 20.4),
    ("Tera Woh Pyar", 2019, "Romance", 63.5),
    ("Baarish", 2018, "Feel Good", 140.1),
    ("Jee Le Zaraa", 2014, "Sad", 123.6)
"""

# insert instances in the ratings table
insert_ratings_query = """
INSERT INTO ratings
(rating, song_id)
VALUES ( %s, %s)
"""
ratings_records = [(9.4, 3), (9.6, 1),
                   (8.8, 4), (9.1, 2), (7.2, 5)]
# execute insert commands
cursor.execute(insert_songs)
connection.commit()

# set foreign key checks to false to avert error
no_foreign_check = "set foreign_key_checks=0"
cursor.execute(no_foreign_check)
connection.commit()

# insert instances in the ratings table
cursor.executemany(insert_ratings_query, ratings_records)
connection.commit()

In [30]:
# select or read records from songs table
select_songs = "SELECT * FROM songs"
cursor.execute(select_songs)
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Kyun Dil Mera', 2015, 'Romance', Decimal('150.2'))
(2, 'Sun zara', 2009, 'Feel Good', Decimal('20.4'))
(3, 'Tera Woh Pyar', 2019, 'Romance', Decimal('63.5'))
(4, 'Baarish', 2018, 'Feel Good', Decimal('140.1'))
(5, 'Jee Le Zaraa', 2014, 'Sad', Decimal('123.6'))

In [31]:
# update records in songs table
update_songs = """
UPDATE
    songs
SET
    release_year = 2020
WHERE
    title = "Baarish"
"""
# execute update commands
cursor.execute(update_songs)
connection.commit()

# show all records of songs table
show_songs = "SELECT * FROM songs"
cursor.execute(show_songs)
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Kyun Dil Mera', 2015, 'Romance', Decimal('150.2'))
(2, 'Sun zara', 2009, 'Feel Good', Decimal('20.4'))
(3, 'Tera Woh Pyar', 2019, 'Romance', Decimal('63.5'))
(4, 'Baarish', 2020, 'Feel Good', Decimal('140.1'))
(5, 'Jee Le Zaraa', 2014, 'Sad', Decimal('123.6'))

In [32]:
# create user with username 'ajay'
create_user = "CREATE USER 'ajay'@'localhost' IDENTIFIED BY 'password123'"
cursor.execute(create_user)
connection.commit()

# add all privileges to the user 'ajay' on all the tables of current database
privilege_query = "GRANT ALL PRIVILEGES ON assign2_18018.* TO 'ajay'@'localhost' WITH GRANT OPTION"
cursor.execute(privilege_query)
connection.commit()

# flush privileges
privilege_flush = "FLUSH PRIVILEGES"
cursor.execute(privilege_flush)
connection.commit()

In [34]:
# show all users
show_users = "SELECT user FROM mysql.user"
cursor.execute(show_users)
result = cursor.fetchall()
print("All users are listed as: ")
for row in result:
    print(row)

All users are listed as:
('ajaycc17',)
('ajay',)
('mysql.infoschema',)
('mysql.session',)
('mysql.sys',)
('root',)

In [16]:
# drop or delete an user
drop_user = "DROP USER 'ajay'@'localhost'"
cursor.execute(drop_user)
connection.commit()

# show all users
show_users = "SELECT user FROM mysql.user"
cursor.execute(show_users)
result = cursor.fetchall()
print("All users are listed as: ")
for row in result:
    print(row)

All users are listed as:
('ajaycc17',)
('mysql.infoschema',)
('mysql.session',)
('mysql.sys',)
('root',)

In [17]:
# drop the database just created
try:
    with connect(
        host="localhost",
        user=user,
        password=passwd,
    ) as connection:
        list_all_db = "SHOW DATABASES"
        drop_db = "DROP DATABASE assign2_18018"
        with connection.cursor() as cursor:
            cursor.execute(drop_db)
            connection.commit()

            # show all databases
            cursor.execute(list_all_db)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [18]:
# close the connection and disconnect from mysql
connection.close()